<div class="author">
  <h2 class="author-name">{{model.name}}</h2>
  <div class="author-bio">
    {{prismic-html model.bio}}

    <img src="{{model.photo.url}}" width={{model.photo.dimensions.width}} height={{model.photo.dimensions.height}} alt="">
  </div>
</div>
