{{outlet}}

{{#with model as |post|}}
<div class="post">
  <h2 class="post-title">{{link-to post.title 'post' post}}</h2>
  <div class="post-byline">
    {{post.author.firstName}}
    {{#with post.author as |author|}}
      {{link-to author.firstName 'author' author}}
    {{/with}}

    {{prismic-text post.author.bio}}

  </div>
  <div class="post-body">


    {{#each post.body as |slice|}}
      <div class="post-body-slice">
        {{#if (eq slice.sliceType 'text')}}
          {{prismic-text slice.primary.text}}


        {{else if (eq slice.sliceType 'recommended_posts')}}
          'recommended posts'
          {{#each slice.items as |item|}}
            {{item.recommended_post.title}}
          {{/each}}

        {{/if}}
      </div>

    {{/each}}
  </div>
</div>
{{/with}}
