{{outlet}}

{{#with model as |post|}}
<div class="post">
  <h2 class="post-title">{{link-to post.title 'post' post.uid}}</h2>
  <div class="post-byline">
    {{post.author.firstName}}
    {{#with post.author as |author|}}
      {{link-to author.firstName 'author' author.uid}}
    {{/with}}

    {{prismic-as-text post.author.bio}}

  </div>
  <div class="post-body">

    {{#each post.slices as |slice|}}




    {{/each}}
  </div>
</div>
{{/with}}
